@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'PortoRoobert';
    src: url('../fonts/PortoRoobert-Bold.woff');
}

@font-face {
    font-family: 'BlackHansSans';
    src: url('../fonts/BlackHanSans-Regular.ttf');
}

:root{
    --cor00:white;
    --cor01:black;
    --fontH1:'BlackHansSans';
    --fontSection:'PortoRoobert';
}

/*Seção: Header*/

header{
    background-color: var(--cor01);
    min-height: 150px;
    width: 100%vw;
}

header > h1{
    color: var(--cor00);
    text-align: center;
    padding: 25px 10px;
    font-size: 3.5vw;
    font-family: var(--fontH1);
}

header > P {
    color: var(--cor00);
    text-align: center;
    padding: 15px 5px 30px 5px;
    font-family: var(--fontSection);
    font-weight: bold;
    font-size: 1.2rem;
}

header > p > a{
    color: var(--cor00);
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

/*Seção: Main*/

main section {
    padding: 40px 3px 15px 15px;
    font-family: var(--fontSection);
    line-height: 4rem;
    font-size: 3vw;
    min-height: 500px;
    max-width: 100%vw;
}

.img01{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 2px 15px 6px rgba(0, 0, 0, 0.532);
}

.img02{
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 2px 15px 6px rgba(0, 0, 0, 0.532);
}

.texto_imagem{
    background-color: rgba(0, 0, 0, 0.475);
    color: var(--cor00);
    padding: 5px;
    display: inline-block;
}

/*Seção: Footer*/

footer{
    background-color: var(--cor01);
    height: 50px;
}

footer p{
    color: var(--cor00);
    text-align: center;
    padding: 5px;
    font-family: var(--fontSection);
}

footer a {
    color: var(--cor00);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
